<!DOCTYPE html>
<html>
  <head>
    <title>SpartaRailsCrud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <a href="/artists"> <h1>Artists</h1> </a>
      <a href="/paintings"> <h1>Paintings</h1> </a>
    </nav>

    <%= yield %>
  </body>
</html>
